body
{
    background-color: #111;
    font-family: Arial;
    text-align: center;
    color: #777;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: rgb(0, 157, 212);
    box-shadow: 0px 2px 20px 0px rgba(240, 237, 237, 0.5);    
    color: #111;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;

}

#container #tagline
{
   
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(14, 204, 255);
    box-shadow: 0px 2px 20px 0px rgba(240, 237, 237, 0.5);
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}